<h5>{{ title }}</h5>
<div class="row" *ngIf="!loading">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSave()">

    <div *ngIf="loading" class="progress">
        <div class="indeterminate"></div>
    </div>

    <p-messages [value]="msgs"></p-messages>
    <p-growl [value]="alerts"></p-growl>

    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">account_circle</i>
        <input id="nome" type="text" class="validate"
               [(ngModel)]="pessoa.nome" formControlName="nome"
               [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid">
        <label for="nome"
               [class.active]="pessoa.nome"
               data-error="Escreva pelo menos 4 caracteres">
          Nome
        </label>
      </div>

      <div class="input-field col s4">
        <input id="ativo" type="radio" class="validate" value="A"
               [(ngModel)]="pessoa.status" formControlName="status"
               [class.invalid]="form.controls['status'].touched && !form.controls['status'].valid">
        <label for="ativo">
          Ativo
        </label>

        <input id="inativo" type="radio" class="validate" value="I"
               [(ngModel)]="pessoa.status" formControlName="status"
               (click)="inativar(pessoa)"
               [class.invalid]="form.controls['status'].touched && !form.controls['status'].valid">
        <label for="inativo">
          Inativo
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <p>
          <input id="masculino" type="radio" class="validate" value="M"
                 [(ngModel)]="pessoa.sexo" formControlName="sexo"
                 [class.invalid]="form.controls['email'].sexo && !form.controls['sexo'].valid">
          <label for="masculino">
            Masculino
          </label>

          <input id="feminino" type="radio" class="validate" value="F"
                 [(ngModel)]="pessoa.sexo" formControlName="sexo"
                 [class.invalid]="form.controls['email'].sexo && !form.controls['sexo'].valid">
          <label for="feminino">
            Feminino
          </label>
        </p>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">today</i>
        <input id="dtNascimento" type="date" class="validate"
               [(ngModel)]="pessoa.dtNascimento" formControlName="dtNascimento">
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix"></i>
        <input id="codAux" type="number" class="validate"
               [(ngModel)]="pessoa.codAux" formControlName="codAux">
        <label for="codAux">
          Cód. Auxiliar
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate"
               [(ngModel)]="pessoa.email" formControlName="email"
               [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email"
               [class.active]="pessoa.email"
               data-error="E-mail inválido. ">
          Email
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn-floating btn-large waves-effect waves-light green" type="submit"
                [disabled]="!form.valid">
            <i class="material-icons">{{btnValue}}</i>
        </button>
        <a class="btn-floating btn-large waves-effect waves-light red"
        (click)="onCancel()">
            <i class="material-icons">replay</i>
        </a>
      </div>
    </div>
  </form>
</div>
