<nav *ngIf="showMenu">

  <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="assets/imgs/samu-bkgd.fw.png">
      </div>

      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">{{login.nome}}</span></a>
      <a href="#!email"><span class="white-text email">{{login.email}}</span></a>
    </div></li>

    <li><a class="subheader">Módulos</a></li>
    <li><a class="#!">Módulo 1</a></li>
    <li><a class="#!">Módulo 2</a></li>
    <li><a class="#!">Módulo 3</a></li>

    <li><a class="subheader"><i class="material-icons">menu</i>Menu</a></li>
    <li><a href="#!">Cadastro</a></li>
    <li><a href="#!">Outro</a></li>
    <li><div class="divider"></div></li>

    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons"></i>Sair</a></li>
  </ul>

  <div class="nav-wrapper">

    <a href="#" data-activates="slide-out"
                materialize="sideNav"
                class="brand-logo">
      <i class="material-icons">menu</i> SAMU
    </a>

    <ul class="right hide-on-med-and-down">
      <li><a href="#!">Modulo 1</a></li>
      <li><a href="#!">Modulo 2</a></li>
      <li><a href="#!">Modulo 3</a></li>
      <!-- Dropdown Trigger -->
      <li class="active"><a href="#" (click)="logout()">Sair</a></li>
    </ul>

  </div>
</nav>
