<app-menu></app-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    imagineappps © 2017
    <a class="grey-text text-lighten-4 right" href="#!">Mais informações</a>
    </div>
  </div>
</footer>
