<div class="row">
    <div class="col s8">

      <div *ngIf="loading" class="progress">
          <div class="indeterminate"></div>
      </div>

      <p-messages [value]="msgs"></p-messages>
      <p-growl [value]="alerts"></p-growl>

      <div class="card-panel" *ngIf="!loading">
        <p-confirmDialog header="Exclusão de Pessoa"
                        acceptLabel="Sim"
                        rejectLabel="Não"
                        icon="fa fa-question-circle" width="425">
        </p-confirmDialog>

        <div class="card-panel red lighten-2 white-text">
         <div class="left"> Listando {{totalPessoas}} pessoas</div>
         <div class="right">
            <a class="btn-floating btn-large waves-effect waves-light green"
               routerLink="add">
              <i class="material-icons">add</i>
            </a>
         </div>
        </div>

        <p-dataTable [value]="pessoas"
                     [rows]="5"
                     [paginator]="true"
                     [globalFilter]="gb"
                     selectionMode="single"
                     [(selection)] = "pessoaSelecionada"
                     #dt>
           <p-column>
             <template let-pessoa="rowData" pTemplate="body">
               <a [routerLink]="pessoa.id"> <i class="small material-icons">mode_edit</i></a>
               <a> <i class="small material-icons">search</i></a>
               <a (click)="deleteConfirm(pessoa)"> <i class="small material-icons">delete</i></a>
             </template>
           </p-column>
           <p-column field="nome" header="Nome" [filter]="true" filterPlaceholder="Procurar..."></p-column>

           <p-column header="Sexo" field="sexo"  [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
               <template pTemplate="filter" let-col>
                   <p-dropdown [options]="generos" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
               </template>
           </p-column>

           <p-column field="dtNascimento" header="Dt Nascimento" [filter]="true" filterPlaceholder="Procurar...">
             <template let-pessoa="rowData" pTemplate="body" let-col>
               {{ pessoa.dtNascimento | date:'dd/MM/yyyy'}}
             </template>
           </p-column>

           <p-column field="idGrupo" header="Grupo" [filter]="true" filterPlaceholder="n"></p-column>

           <!--<p-column field="color" header="Color (Custom)" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
               <template pTemplate="filter" let-col>
                   <p-multiSelect [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
               </template>
           </p-column>-->

        </p-dataTable>
      </div>

    </div>
    <div class="col s4 hide-on-small-and-down" *ngIf="!loading">
      <div class="card-panel">
         <div class="card-panel red lighten-2 white-text">{{tituloGrafico}}</div>
         <p-chart #chart type="pie" [data]="data" [options]="options"></p-chart>
      </div>
    </div>
  </div>
